@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Julius+Sans+One|Poiret+One|Orbitron');

*{
	margin:0;
	padding:0;
	overflow-x: hidden;
	list-style-type: none;
}  /* for all */
/* Starting of the CSS */
#bg
{
			
			height: 100%;
			width: 100%;
			background-color:black;
			background-size: cover;
            background-position: center;
            display: grid;
            grid-template-areas: "header"
                                 "intro";
            z-index: 1;
            overflow-y: hidden;                     
                               
}   /* bg id tag css ends */


.header{
	font-family: 'Julius Sans One', sans-serif;
	grid-area: header;
	font-size: 22px;
	text-align: center;
	margin-top: 40px;
	position: relative;
	left: 30%;
 } 
 a{
 	text-decoration: none;
 }
.nv{
   display: inline;
   padding-right: 25px;
   color:white;
   text-align: center;
}
.nv:hover{
		color:yellow;
    text-decoration: none;
    list-style-type: none;
	transition: 1.3s all;
}



.all_headings{
    font-family: 'Bree Serif', serif;
	font-weight: 600px;
	letter-spacing: 2px;
	text-align: center;
	
}



.intro
{   
    grid-area: intro;  
/*	color: #F4EEF7 !important;  */
	position: absolute;
	left: 10%;
	top: -60%;
    font-size: 96px;
    background-image: linear-gradient(
    90deg,
    #47341B 0%,
    #E90628 15%,
    #C1583B 30%,
    #A7E3D8 44%,
    #A349A6 58%,
    #1098ad 72%,
    #433E38 86%,
    #ff0000 100%

  );

  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
   /* intro and all headings class tag css ends */
.titles{
     font-size: 36px;
     line-height: 1.7;

} 
    /* span tag css ends */

/* The second page begins here */

#abt
{   
	display: grid;
    height: 100%;
    width: 100%;
    background-color: white;
	background-size: cover;
    background-position: center;			
    overflow-y: hidden;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 10px;
    align-items: center;
    grid-template-areas: "areaA bio areaB";
}
   /* abt id tag css ends */
.icon1{
	grid-area: areaA;
	display: grid;
	font-size: 175px;
	grid-template-rows: 1fr 1fr;
	grid-gap: 30px;
	justify-content: center;
	grid-template-areas: 'f1'
	                     'f2';
	color: #F76037;                     

}
.bio
{   
	grid-area:bio;
	font-size: 20px;
	max-width: 600px;
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: 580;
	overflow-y: hidden;
	}

.icon2{
	color: #F86438;
	display: grid;
	grid-area: areaB;
	font-size: 175px;
	grid-template-rows: 1fr 1fr;
	grid-gap: 30px;
	justify-content: center;
	grid-template-areas: 'f3'
	                     'f4';
}
.f1{
	grid-area: f1;
}
.f2{
	grid-area: f2;
}
.f3{
	grid-area: f3;
}
.f4{
	grid-area: f4;
}
.about
{
  	font-size: 76px;   
  	overflow-y: hidden;
}    
      /* project page grid system starts */
.project{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 150px;
	margin: 150px 150px 0 150px;
	font-family: 'Poiret One', cursive;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 20px;
	position: relative;
	left:60px;

}
.proj_head{
	font-size: 76px;
	overflow-y: hidden;
}
.project div div{
	text-align: center;
	max-width: 420px;
}
.project1{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.project2{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.project3{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.project4{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.project5{
	display: grid;
	grid-template-columns: 1fr 1fr;
    padding-bottom: 0;
}

/* this is for all image tag */
img{
    height: 300px;
    width:420px;
    border: 2px solid black;
}

.contact{
	background-color: #F5F5F5;
	margin: 0;
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	margin: 0;
	padding: 0;
	margin-top: -240px;
    min-height: max-content;
}
.dp{
	height:180px;
	width:210px;
	position: relative;
	top:34px;
	left:42%;
	border:none;
	background-size: 100% 100%;


}
.social{
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    position: relative;
    top: 11%;
    left:3%;
}
.social li{
	display: inline-block;
	margin-right: 100px;
	text-align: center;
	font-size: 50px;
	height:90px;
	width: 90px;
	border:2px solid black;
	overflow-y: hidden;
	border-radius: 50%;
	padding:15px;

}
.fb{
  color:blue;
}
.lnkd{
   color:black;
}
.cp{
   color:brown;
}
.quora{
    color:red;
}
.fb:hover{
  color:white;
  background-color: #50A8D6;
  
  
  transition: all .3s;

}
.lnkd:hover{
   color:white;
  background-color: #50A8D6;
  
  
  transition: all .3s;
}
.cp:hover{
   color:white;
  background-color: black;
  
  
  transition: all .3s;
}
.quora:hover{
    color:red;
  background-color: black;
  
  
  transition: all .3s;
}
.intern{
	font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    top:24%;
    color:#BDBDBD;
    letter-spacing: 1px;
}
.social1{
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    position: relative;
    top: 150px;
    left:7%;
    height: 200px;

}
.social1 li{
	display: inline-block;
	margin-right: 230px;
	text-align: center;
	font-size: 20px;
	font-family: 'Orbitron', sans-serif;
	color: #BDBDBD;
	letter-spacing: 1px;
	
}
.fa-envelope{
	position: relative;
	top:3px;

}
.fa-phone{
	position: relative;
	top:5px;
}
.footer{
	background-color: #2D2D2D;
	  overflow-y: hidden;
	  text-align: center;
	  margin-top: 50px;
}
@media only screen and (max-width: 603px){
	.header{
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	margin-top: 20px;

 } 
	  .nv{
	  	
	  	text-align: center;
	  	font-size: 10px;
	  	position: relative;
	  	left: -36px;
	  	width: 300px;
	  }
	  #bg{
	  	text-align: center;
	  }
      .about ,.intro, .proj_head
      {
      	font-size: 22px;
      }
      .bio{
      	font-size:15px;
      	min-width: 240px;
      	font-weight: 800;
      }
      .icon1 , .icon2{
      	display: none;
      }
      .project
      {
      	margin:4px;
      	grid-gap: 70px;
      	font-size: 10px;
      	font-weight: 800;
      }
      img{
      	width: 130px;
        height: 120px;
      }
      .dp{
      	display: none;
      }
      .intern{
      	text-align: center;
      	font-size: 10px;
      }
      .social{
      	position: relative;
      	
      	left: 19%;
      }
      .social1{
	text-align: center;
      }
      .social1 li{
	
	font-size: 15px;
	
}
.phone{
	position: relative;
	left: 65px;
}
.footer{
	background-color: #2D2D2D;
	  overflow-y: hidden;
	  text-align: center;
	  
	  height: 250px;
}

	}